[Unit]
Description = Cart Service
[Service]
User=roboshop
// highlight-start
EnvironmentFile=/etc/roboshop/cart.env
// highlight-end
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target